<section class="cart-section">
    <div class="flex gap-[.5rem] breadcrums">
        <p>Home</p>
        <p>/</p>
        <p>Cart</p>
    </div>
    <div class="table-section-parent">
        <div class="cart-table">
            <div class="table-section">
                <table>
                    <tr class="heading">
                        <th class="product-data-head w-[11rem]">Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th class="total">Subtotal</th>
                        <th>Action</th>
                    </tr>
                    @for(productCart of productCarts;track $index;){
                    <tr class="data">
                        <td class="image-field w-[20rem] px-[1rem]">
                            <div class="product-data">
                                <div class="product-img flex gap-[.5rem] items-center">
                                    <img class="image" src={{productCart.image}} alt="">
                                    <h2 class="text-nowrap">{{productCart.name}}</h2>
                                </div>
                            </div>
                        </td>
                        <td>{{productCart.price |currency : 'USD':'symbol':'1.0-0'}}</td>
                        <td>
                            <div class="counter flex">
                                <p>{{productCart.quantity}}</p>
                                <div class="counter-symbol flex flex-col cursor-pointer">
                                    <button><img (click)="increaseCartNumber(productCart.id)"
                                            class="counter-up cursor-pointer" src="counter-up-arrow.svg"
                                            alt=""></button>
                                    <button><img (click)="decreaseCartNumber(productCart.id)"
                                            class="counter-down cursor-pointer" src="counter-down-arrow.svg"
                                            alt=""></button>
                                </div>
                            </div>
                        </td>
                        <td class="subtotal">{{ productCart.subtotal |currency : 'USD':'symbol':'1.0-0'}}</td>
                        <td><button class="cursor-pointer" (click)="removeFromCart(productCart.id)">remove</button></td>
                    </tr>
                    }
                </table>
            </div>
            <div class="flex justify-between gap-[1rem]">
                <button class="return-shop" routerLink="/product-details">Return To Shop</button>
                <button class="update-cart " routerLink="/Check-out">Update Cart</button>
            </div>
        </div>
        <div class="cart-total-section">
            <div class=" cart-coupon flex gap-[.5rem] items-start">
                <input class="coupon" type="text" placeholder="Coupon Code">
                <button class="coupon-button">Apply Coupon</button>
            </div>
            <div class="cart-total">
                <h2>Cart Total</h2>
                <div class="subtotal-summary flex justify-between">
                    <p>Subtotal:</p>
                    <p>{{ getTotalPrice() | currency: 'USD':'symbol':'1.0-0' }}</p>
                </div>
                <hr>
                <div class=" shipping flex justify-between">
                    <p>Shipping:</p>
                    <p>Free</p>
                </div>
                <hr>
                <div class="total-summary flex justify-between">
                    <p>Total:</p>
                    <p>{{ getTotalPrice() | currency: 'USD':'symbol':'1.0-0' }}</p>
                </div>
                <button routerLink="/Check-out">Proceeds to checkout</button>
            </div>
        </div>
    </div>
</section>