<section class="carousel-category">
    <div class="categories" id="categoriesid">
        <div class="flex gap-[2rem] justify-between items-center">
            <p>Woman’s Fashion</p>
            <label for="woman" class="woman"><img class="right" src="home-page/right-arrow.svg" alt="pic">
                <i class="fa-solid fa-angle-down"></i>
            </label>
        </div>
        <input type="checkbox" id="woman">
        <div class="woman-dropdown">
            <p>Saree</p>
            <p>chudithar</p>
            <p>jeans</p>
        </div>
        <div class="flex gap-[3.4rem]  justify-between items-center">
            <p>Men’s Fashion</p>
            <label for="man" class="man"><img class="right" src="home-page/right-arrow.svg" alt="pic">
                <i class="fa-solid fa-angle-down"></i>
            </label>
        </div>
        <input type="checkbox" id="man">
        <div class="man-dropdown">
            <p>shirts</p>
            <p>vest</p>
            <p>jeans</p>
        </div>
        <div class="flex gap-[3.4rem]  justify-between items-center">
            <p>Electronics</p>
            <button for="" class="electronics"><img class="electronic-img  " src="home-page/right-arrow.svg" alt="pic">
                <i class="fa-solid fa-angle-down"></i></button>
        </div>
        <div class="flex gap-[3.4rem]  justify-between items-center">
            <p>Home & Lifestyle</p>
            <button for="" class="home"> <img class="home-img " src="home-page/right-arrow.svg" alt="pic"> <i
                    class="fa-solid fa-angle-down"></i></button>
        </div>
        <div class="flex gap-[3.4rem]  justify-between items-center">
            <p>Medicine</p>
            <button for="" class="medicine"> <img class="medicine-img " src="home-page/right-arrow.svg" alt="pic"> <i
                    class="fa-solid fa-angle-down"></i></button>
        </div>
        <div class="flex gap-[3.4rem]  justify-between items-center">
            <p>Sports & Outdoor</p>
            <button for="" class="sports"> <img class="sport-img " src="home-page/right-arrow.svg" alt="pic"> <i
                    class="fa-solid fa-angle-down"></i></button>
        </div>
        <div class="flex gap-[3.4rem]  justify-between items-center">
            <p>Baby’s & Toys</p>
            <button for="" class="baby"> <img class="baby-img " src="home-page/right-arrow.svg" alt="pic"> <i
                    class="fa-solid fa-angle-down"></i></button>
        </div>
        <div class="flex gap-[3.4rem]  justify-between items-center">
            <p>Groceries & Pets</p>
            <button for="" class="groceries"><img class="groceries-img " src="home-page/right-arrow.svg" alt="pic">
                <i class="fa-solid fa-angle-down"></i></button>
        </div>
        <div class="flex gap-[3.4rem]  justify-between items-center">
            <p>Health & Beauty</p>
            <button for="" class="health"><img class="health-img " src="home-page/right-arrow.svg" alt="pic"> <i
                    class="fa-solid fa-angle-down"></i></button>
        </div>
    </div>
    <app-imageslider class="carousel-section" [slides]="slides"></app-imageslider>
</section>
<section class="product-component">
    <app-product></app-product>
</section>
<section class="variety flex flex-col gap-[3rem]">
    <div class="flex flex-col gap-[.7rem]">
        <div class="flex gap-[1rem] items-center">
            <div class="flag"></div>
            <h3>Categories</h3>
        </div>
        <div class="flex flex-col gap-[2rem]">
            <div class="flex justify-between items-center gap-[1rem] ">
                <h2 class="browse-category">Browse By Category</h2>
                <div class="flex items-center gap-[.5rem] cursor-pointer ">
                    <div class="arrow-left hover:opacity-[.5]">
                        <img src="home-page/icons_arrow-left.svg" alt="pic">
                    </div>
                    <div class="arrow-right hover:opacity-[.5]">
                        <img src="home-page/slider-right.svg" alt="pic">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-[4rem]">
        <div class="category">
            @for(category of categories;track $index){
            <div class="product-category">
                <img class="image" src={{category.image}} alt="pic">
                <p>{{category.para}}</p>
            </div>
            }
        </div>
        <hr>
    </div>
</section>
<section class="flex flex-col gap-[3rem]">
    <div class="flex flex-col gap-[.7rem]">
        <div class="flex gap-[1rem]">
            <div class="flag"></div>
            <h3>This Month</h3>
        </div>
        <div class="flex justify-between items-center gap-[1rem]">
            <h2 class="best-selling">Best Selling Products</h2>
            <button class="view-all">View All</button>
        </div>
    </div>
    <div class="product-image-grid-2">
        @for (sellProduct of sellProducts ; track $index;) {
        <div class="product-image-details">
            <div class="product-image">
                <div class="flex justify-between">
                    <p class="discount-tag-2"><span>{{sellProduct?.discount}}</span></p>
                    <div class="flex flex-col cursor-pointer items-center gap-[.2rem]">
                        <div class="wishlist-div">
                            <svg (click)="toggleSellWishlist(sellProduct)"
                                [ngClass]="sellProduct.wishlistSelected ? 'bgred' : 'bgwhite'" width="22" height="20"
                                viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6 1C3.239 1 1 3.23669 1 5.99621C1 8.22381 1.875 13.5107 10.488 18.8551C10.6423 18.9499 10.8194 19 11 19C11.1806 19 11.3577 18.9499 11.512 18.8551C20.125 13.5107 21 8.22381 21 5.99621C21 3.23669 18.761 1 16 1C13.239 1 11 4.028 11 4.028C11 4.028 8.761 1 6 1Z"
                                    stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                {{sellProduct.wishlist}}
                            </svg>
                        </div>
                        <div class="quick-view-div">
                            <svg class="view" (click)="imageClick(sellProduct)" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M21.2565 10.962C21.7305 11.582 21.7305 12.419 21.2565 13.038C19.7635 14.987 16.1815 19 11.9995 19C7.81752 19 4.23552 14.987 2.74252 13.038C2.51191 12.7411 2.38672 12.3759 2.38672 12C2.38672 11.6241 2.51191 11.2589 2.74252 10.962C4.23552 9.013 7.81752 5 11.9995 5C16.1815 5 19.7635 9.013 21.2565 10.962V10.962Z"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path
                                    d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                src={{sellProduct.productView}}
                            </svg>
                        </div>
                    </div>
                </div>
                <img (click)="imageClickSell(sellProduct)"
                    [ngClass]="{'coat':$index===0,'bag':$index===1, 'cooler-img': $index === 2, 'book-shelf':$index===3 }"
                    src={{sellProduct.image}} alt="pic">
                <button (click)="addProduct(sellProduct)" class="add-cart">Add To Cart</button>
            </div>
            <div class="product-details">
                <h3>{{sellProduct.name}}</h3>
                <div class="flex gap-[1rem] text-[.9rem]">
                    <p>&dollar;{{sellProduct.price}}</p>
                    <p class="discount-price">{{sellProduct.discountPrice}}</p>
                </div>
                <div class="flex gap-[.5rem]">
                    <img class="w-[5.5rem]" src={{sellProduct.rating}} alt="pic">
                    <p>{{sellProduct.ratingNo}}</p>
                </div>
            </div>
        </div>
        }
    </div>
</section>
<section class="head-band-banner">
    <div class="head-band-category-img">
        <div class="head-band-categories">
            <div class="head-band-categories-child">
                <h4 class="head-categories">Categories</h4>
                <div class="flex flex-col gap-[2rem] max-[600px]:gap-[1rem]">
                    <h2>Enhance Your Music Experience</h2>
                    <div class="head-timers">
                        <div class="head-hours">
                            <p>23</p>
                            <p>Hours</p>
                        </div>
                        <div class="head-days">
                            <p>05</p>
                            <p>Days</p>
                        </div>
                        <div class="head-minutes">
                            <p>59</p>
                            <p>Minutes</p>
                        </div>
                        <div class="head-second">
                            <p>35</p>
                            <p>Seconds</p>
                        </div>
                    </div>
                    <button routerLink="/product-details">Buy Now!</button>
                </div>
            </div>
        </div>
        <img class="head-band-img" src="home-page/Frame-694.png" alt="pic">
    </div>
</section>
<section class="flex flex-col gap-[3rem]">
    <div class="flex flex-col gap-[.7rem]">
        <div class="flex gap-[1rem] items-center">
            <div class="flag"></div>
            <h3>Our Products</h3>
        </div>
        <div class="flex justify-between items-center gap-[1rem]">
            <h2 class="productExplore">Explore Our Products</h2>
            <div class="flex items-center gap-[.5rem] cursor-pointer ">
                <div class=" arrow-left hover:opacity-[.5]">
                    <img src="home-page/icons_arrow-left.svg" alt="pic">
                </div>
                <div class="arrow-right hover:opacity-[.5]">
                    <img src="home-page/slider-right.svg" alt="pic">
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-[3rem]">
        <div class="product-image-grid-2">
            @for (ExploreProduct of ExploreProducts ; track $index;) {
            <div class="product-image-details">
                <div class="product-image">
                    <div class="flex justify-between">
                        <p class="new-tag-2"
                            [ngClass]="{'new-tag':$index===5 ,'new-tag-index':$index===7,'index1':$index===0,'index2':$index===1,'index3':$index===2,'index4':$index===3}">
                            <span>{{ExploreProduct.new}}</span>
                        </p>
                        <div class="flex flex-col cursor-pointer items-center gap-[.2rem]">
                            <div class="wishlist-div">
                                <svg (click)="toggleExploreWishlist(ExploreProduct)"
                                    [ngClass]="ExploreProduct.wishlistSelected ? 'bgred' : 'bgwhite'" width="22"
                                    height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6 1C3.239 1 1 3.23669 1 5.99621C1 8.22381 1.875 13.5107 10.488 18.8551C10.6423 18.9499 10.8194 19 11 19C11.1806 19 11.3577 18.9499 11.512 18.8551C20.125 13.5107 21 8.22381 21 5.99621C21 3.23669 18.761 1 16 1C13.239 1 11 4.028 11 4.028C11 4.028 8.761 1 6 1Z"
                                        stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    {{ExploreProduct.wishlist}}
                                </svg>
                            </div>
                            <div class="quick-view-div">
                                <svg class="view" (click)="imageClick(ExploreProduct)" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M21.2565 10.962C21.7305 11.582 21.7305 12.419 21.2565 13.038C19.7635 14.987 16.1815 19 11.9995 19C7.81752 19 4.23552 14.987 2.74252 13.038C2.51191 12.7411 2.38672 12.3759 2.38672 12C2.38672 11.6241 2.51191 11.2589 2.74252 10.962C4.23552 9.013 7.81752 5 11.9995 5C16.1815 5 19.7635 9.013 21.2565 10.962V10.962Z"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    src={{ExploreProduct.productView}}
                                </svg>
                            </div>
                        </div>
                    </div>
                    <img (click)="imageClick(ExploreProduct)"
                        [ngClass]="{ 'Explore-first-img': $index === 0,'Explore-camera':$index===1,'Explore-laptop':$index===2 ,'Explore-curology':$index===3,'Explore-car':$index===4,'Explore-cleats':$index===5,'Explore-Gp11-gamepad':$index===6,'Explore-quilted':$index===7 }"
                        src={{ExploreProduct.image}} alt="pic">
                    <button (click)="addProductExplore(ExploreProduct)" class="add-cart">Add To Cart</button>
                </div>
                <div class="product-details">
                    <h3>{{ExploreProduct.name}}</h3>
                    <div class="flex">
                        <div class="flex gap-[1rem] text-[.9rem]">
                            <p>&dollar;{{ExploreProduct.price}}</p>
                            <p class="discount-price">{{ExploreProduct.discountPrice}}</p>
                        </div>
                        <div class="flex gap-[.5rem]">
                            <img class="w-[5.5rem]" src={{ExploreProduct.rating}} alt="pic">
                            <p>{{ExploreProduct.ratingNo}}</p>
                        </div>
                    </div>
                    @if($index>3){
                    <div [ngClass] class="flex gap-[.5rem]  justify-start cursor-pointer">
                        <div class="flex items-center gap-[.5rem] ">
                            <div class="select-color-parent">
                                <div [ngClass]="{'color-select':$index===5,'color-black':$index===6,'color-blue':$index===7}"
                                    class="select-color">
                                </div>
                            </div>
                            <div class="select-color-parent">
                                <div class="select-color-red"></div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            }
        </div>
        <div class="flex justify-center">
            <button class="explore-button">View All Products</button>
        </div>
    </div>
</section>
<section class="flex flex-col gap-[3rem]">
    <div class="flex flex-col gap-[1rem]">
        <div class="flex gap-[.5rem] items-center">
            <div class="flag"></div>
            <p class="featured">Featured</p>
        </div>
        <h2 class="new-arrival-head">New Arrival</h2>
    </div>
    <div class="new-arrival">
        <div class="playstation-new">
            <div class="playstation-description-new">
                <h4>PlayStation 5</h4>
                <p>Black and White version of the PS5 <br> coming out on sale.</p>
                <button>Shop Now</button>
            </div>
            <img src="home-page/playstation-5.png" alt="pic">
        </div>
        <div class="womens-collection">
            <div class="womens-collection-description">
                <h4>Women’s Collections</h4>
                <p>Featured woman collections that <br>give you another vibe.</p>
                <button>Shop Now</button>
            </div>
            <img src="home-page/women-section-background.png" alt="pic">
        </div>
    </div>
</section>
<section class="service-section pt-[3rem] pb-[4rem]">
    <div class="service ">
        <div class=" flex flex-col gap-[1rem] items-center ">
            <img class="delivery-service w-[4rem]" src="Services-group.svg" alt="pic">
            <div class="flex flex-col gap-[.1rem]">
                <h2 class="free-delivery font-bold">FREE AND FAST DELIVERY</h2>
                <p class="text-[.8rem]">Free delivery for all orders over $140</p>
            </div>
        </div>
        <div class="flex flex-col gap-[1rem] items-center ">
            <img class="customer-service w-[4rem]" src="customer-Services-group.svg" alt="pic">
            <div class="flex flex-col gap-[.1rem]">
                <h2 class="font-bold">24/7 CUSTOMER SERVICE</h2>
                <p class="text-[.8rem]">Friendly 24/7 customer support</p>
            </div>
        </div>
        <div class="flex flex-col gap-[1rem] items-center ">
            <img class="money-back-service w-[4rem]" src="money-back-Services.svg" alt="pic">
            <div class="flex flex-col gap-[.1rem]">
                <h2 class="font-bold">MONEY BACK GUARANTEE</h2>
                <p class="text-[.8rem]">We return money within 30 days</p>
            </div>
        </div>
    </div>
    <button class="gototop" type="button" fragment="categoriesid" routerLink="/home">
        <img fragment="categoriesid" routerLink="/home" src="Fill-with-Up-Arrow.svg" alt="pic">
    </button>
</section>